body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.5;
}

nav {
  padding: 1em 0;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
nav a:hover {
  color: rgb(128, 187, 226);
}

.list {
  display: flex;
  flex-direction: row;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: beige;
}

#logo {
  height: 60px;
}

header {
  /*background-image: url("/img/Background.png");
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  height: 35em; /* Ajusta la altura según tus necesidades */
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 25%;
  padding-bottom: 15%;
  font-weight: 500 !important;
}
mark {
  color: #3b434bd0 !important;
}
header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 55%;
  filter: blur(0.1em);
  height: 100%;
}

.box {
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
}

#presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;

  padding: 0 20px;
}

#presentation .box {
  position: relative;
  z-index: 1;
  background: rgba(53, 29, 20, 0.438);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-widht: 768) {
  .titles h1 {
    font-size: 5rem;
  }
  .titles {
    display: flex;
    flex-direction: column !important;
  }
}
